<html>
    <head>
        <link href="bootstrap.min.css" rel="stylesheet"/>
    </head>
    <body>
        <div>
            <a href="/category/32528558/add"><button class="btn btn-primary" href="/category/32528558/add">Add Category</button></a>
            <a href="/category/32528558/view-all"><button class="btn btn-primary">List All Categories</button></a>
            <a href=""><button class="btn btn-primary">List Categories by Keyword</button></a>
            <a href=""><button class="btn btn-primary">Show Event Details</button></a>
            <a href="/category/32528558/delete"><button class="btn btn-primary">Delete Category by ID</button></a>
        </div>
        <div>
            <a href="/event/michael/add"><button class="btn btn-info">Add Event</button></a>
            <a href="/event/michael/view-all"><button class="btn btn-info">List All Events</button></a>
            <a href="/event/michael/view-soldout"><button class="btn btn-info">List Sold Out Events</button></a>
            <a href=""><button class="btn btn-info">Category Detail Page</button></a>
            <a href=""><button class="btn btn-info">Delete Event by ID</button></a>
        </div>
    </body>
</html>